<% if current_user %>
  <%= form_for @new_prayer do |f| %>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-12 col-md-10">
          <%= f.text_field :text, placeholder: 'Prayer', class: 'form-control' %>
        </div>
        <div class="col-sm-12 col-md-2">
          <%= f.submit 'Add Prayer', class: 'btn btn-default btn-block' %>
        </div>
      </div>
    </div>
  <% end %>

  <% @prayers.each do |prayer| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= prayer.text %>
        <%= link_to '×', prayer, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs pull-right' %>
      </div>
    </div>
  <% end %>
<% else %>
  Sign in or register to record prayers!
<% end %>
