<%= render 'detail' do %>
  <div class="pull-right">
    <% if @prayer.unanswered? %>
      <%= link_to 'Answer', new_prayer_answer_path(@prayer), class: 'btn btn-default' %>
    <% end %>
    <%= link_to 'Edit', edit_prayer_path(@prayer), class: 'btn btn-default' %>
    <%= link_to 'Delete', @prayer, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
  </div>
<% end %>
<div class="row">
  <div class="hidden-xs hidden-sm col-md-6"></div>
  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="form-group">
      <%= link_to 'Next', root_path, class: 'btn btn-primary btn-lg btn-block' %>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="form-group">
      <%= link_to 'Add Prayer', new_prayer_path, class: 'btn btn-default btn-lg btn-block' %>
    </div>
  </div>
</div>
