<%= render 'detail' do %>
  <div class="pull-right">
    <div class="dropdown visible-xs-block visible-sm-block">
      <button class="btn btn-default" type="button" id="prayerActionMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="prayerActionMenu">
        <% if @prayer.unanswered? %>
          <li><%= link_to 'Answer', new_thought_resolution_path(@prayer) %></li>
        <% end %>
        <li><%= link_to 'Edit', edit_thought_path(@prayer) %></li>
        <li><%= link_to 'Delete', thought_path(@prayer), method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    </div>
    <div class="hidden-xs hidden-sm">
      <% if @prayer.unanswered? %>
        <%= link_to 'Resolve', new_thought_resolution_path(@prayer), class: 'btn btn-default btn-sm' %>
      <% end %>
      <%= link_to 'Edit', edit_thought_path(@prayer), class: 'btn btn-default btn-sm' %>
      <%= link_to 'Delete', thought_path(@prayer), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-sm' %>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="hidden-xs hidden-sm col-md-6"></div>
  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="form-group">
      <%= link_to 'Next', root_path, class: 'btn btn-primary btn-lg btn-block' %>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="form-group">
      <%= link_to 'Add Thought', new_thought_path, class: 'btn btn-default btn-lg btn-block' %>
    </div>
  </div>
</div>
